# Default ignored files
/../../Proyecto_POO_R.A./.idea/shelf/
/../../Proyecto_POO_R.A./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Proyecto_POO_R.A./.idea/httpRequests/
# Datasource local storage ignored files
/../../Proyecto_POO_R.A./.idea/dataSources/
/../../Proyecto_POO_R.A./.idea/dataSources.local.xml
